/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  background: black;
  font-family: 'Poppins', sans-serif;
}
  .top-content{
    background-color: #FFA500
    width: 90%;
    margin: 0 auto 20px auto;
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: 3px 3px 5px yellow
}
  h3{
    height: 100%;
    background-color: #FFFFED
    line-height: 60px;
    padding: 0 50px;
    color: orange;
  }
label{
  display: inline-block;
  height: 100%;
  margin: 0 20px;
  line-height: 60px;
  font-size: 18px;
  color: gray;
  cursor: pointer;
  transition: .5s;
}
label:hover{
  color: black;
}
.photo-gallery{
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}
.pic{
  position: relative;
  height: 240px;
  border-radius: 10px;
  box-shadow: 3px 3px 5px lightgray;
  cursor: pointer;
}
.pic img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.menu{
  padding: 0 10px 30px 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(350px,1ft));
  grid-gap: 20px 40px
}
.heading{
  background: #e84343;
  color: #fff;
  margin-bottom: 30px;
  padding: 30px 0;
  grid-column: 1/-1;
  text-align: center;
}
.heading>h1{
  font-weight: 600;
  font-size: 22px;
  letter-spacing: 5px;
  margin-bottom: 10px;
  text-transform: uppercase;

.h1::before{
    content: '';
    position: absolute;
    width: 100px;
    height: 3px;
    background-color: green;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    animation: animate 3s linear infinite;
}
  @keyframes animate{
    0%{
      width: 100px;
    }
    50%{
      width: 200px;
    }
    100%{
      width: 100px;
    }
      
    
}
.heading>h3{
  font-weight: 600;
  font-size: 22px
  letter-spacing: 5px;
  text-transform: uppercase;
}
.food-items{
  display: grid;
  position: relative;
  grid-template-rows: auto 1fr;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.6);
  transition: .2s ease-in-out;

}
.food-items img{
  position: relative;
  width: 100%;
  height: 280px;
  border-radius: 15px 15px 0 0;
  cursor: pointer;

}
h1{
  grid-column: 1/-1;
  text-align: center;
}
.details{
  padding: 20px 10px;
  display: grid;
  grid-template-rows: auto 1fr 50px;
  grid-row-gap: 15px;
}

.details-sub{
  text-align: center;
  grid-template-columns: auto auto;
}

.details-sub>h5{
  font-weight: 600;
  font-size: 18px;
}

.price{
  text-align: right;
}

.details>p{
  color: #6f6f6f;
  font-size: 15px;
  line-height: 28px;
  font-weight: 400;
  align-self: stretch;
}
.details>button{
  background: #00FF00;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
  width: 180px;
  cursor: pointer;
}
